extends ../layouts/application-layout.pug

block content
  .container
    a(href="/products/new" class="btn btn-outline-success mx-2 mt-3") New product
    a(href="/products" class="btn btn-primary mx-2 mt-3") All products
