mixin productForm(submitValue)
  form(action="/products", method='POST')
    label(for="title") Name
    br
    input(type="text", name="title", id="title")
    input(type="submit", value=submitValue, class="btn btn-primary")
