extends ../layouts/application-layout.pug

block content
  .container.mt-3
    h1 Our products
    .products-cards__wrapper
      if products.length > 0
        ul
        each product in products
          li.products-cards__item #{ product.title }
      else
        p No products yet!

    a(href="/products/new" class="btn btn-outline-primary mx-2 mt-3") Add new product
    a(href="/" class="btn btn-outline-dark mx-2 mt-3") Home
